html {
  overflow-y: hidden;
}

body {
  background-color: rgb(99, 103, 107);
  padding-top: 3rem;
}

html,
body,
.container-fluid,
.container-fluid > .row {
  height: 100%;
}
h button > * {
  pointer-events: none;
}

#app {
  background-color: #e3e6e9;
}

// max width
// body {
//   #app {
//     border-left: 1px rgb(16, 25, 33) solid;
//     border-right: 1px rgb(16, 25, 33) solid;
//     max-width: 1920px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   nav.navbar {
//     max-width: 1920px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
