.card-columns {
  column-count: 1;

  @include media-breakpoint-up(xl) {
    column-count: 2;
  }

  @include media-breakpoint-up(xxl) {
    column-count: 3;
  }
}

.card-header {
  font-size: 1.3em;
  font-weight: bold;
  color: $dark;
}
