code {
  color: $dark;
  font-size: 1em;
}

.bg-secondary {
  .text-danger {
    color: #ffb3b3 !important;
  }
  .text-secondary {
    filter: brightness(200%);
  }
  .text-success {
    color: #99e699 !important;
  }
  .text-warning {
    color: #ffff99 !important;
  }
}
