// li.rack {
//   align-items: center;
//   cursor: pointer;
//   display: flex;
//   height: 60px;
// }

.rack {
  &.status-unknown,
  &.status-failed {
    filter: brightness(70%);
  }

  .logs.install,
  .logs.uninstall {
    height: 307px;

    @include media-breakpoint-up(xxl) {
      height: 194px;
    }
  }
}
